@font-face {
	font-family: yekan;
	src: url(./assets/mainAssets/iranyekanwebregularfanum.woff2);
}
body {
	margin: 0px;
	padding: 0px;
}
div {
	font-family: yekan;
}
.index_mainContainer_div {
	width: 100%;
}
.index_headerContainer_div {
	width: 100%;
	height: 120px;
	margin-top: 10px;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
}
.index_headerLeftContainer_div {
	width: 85%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #348f00;
}
.index_headerRightContainer_div {
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.index_headerLogo_img {
	width: 50%;
}
.index_hederTitle_p {
	font-size: 2em;
	font-weight: bold;
	color: #ffffff;
	margin-right: 20px;
}

			.img{
				margin-top: 15px;
			}
			.img1{
				display: flex;
				flex-direction: row;
				justify-content: center;
			}
			.img2{
				display: flex;
				justify-content: center;
			}
			.dah{
				width: 600px;
				margin: 10px;
				Border-radius:20px;
				transition: transform .2s;
			}
			.yazdah{
				width: 600px;
				margin: 10px;
				Border-radius:20px;
				transition: transform .2s;
			}
			.davazdah{
				width: 600px;
				margin: 10px;
				Border-radius:20px;
				transition: transform .2s;
			}
			.dah:hover{
				transform: scale(1.05)
			}
			.yazdah:hover{
				transform: scale(1.05)
			}
			.davazdah:hover{
				transform: scale(1.05)
			}
			@media (max-width: 1200px){
				.img1{
					flex-direction: column;
					align-items: center;
				}
				.dah{
					width: 600px;
					 
				}
				.yazdah{
					width: 600px;
					
				}
				.davazdah{
					width: 600px;
					
				}
				
			}
