@font-face {
	font-family: yekan;
	src: url(./assets/mainAssets/iranyekanwebregularfanum.woff2);
}
body {
	margin: 0px;
	padding: 0px;
}
div {
	font-family: yekan;
}
.index_mainContainer_div {
	width: 100%;
}
.index_headerContainer_div {
	width: 100%;
	height: 120px;
	margin-top: 10px;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
}
.index_headerLeftContainer_div {
	width: 85%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #348f00;
}
.index_headerRightContainer_div {
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.index_headerLogo_img {
	width: 50%;
}
.index_hederTitle_p {
	font-size: 2em;
	font-weight: bold;
	color: #ffffff;
	margin-right: 20px;
}

			.img{
				margin-top: 15px;
			}
			.img1{
				display: flex;
				flex-direction: row;
				justify-content: center;
			}
			.img2{
				display: flex;
				justify-content: center;
			}
			.img111, .img112, .img121, .img122, .img211, .img212, .img221, .img222{
				width: 250px;
				margin: 10px;
				Border-radius:20px;
				transition: transform .2s;
			}
			.img111:hover, .img112:hover, .img121:hover, .img122:hover, .img211:hover, .img212:hover, .img221:hover, .img222:hover{
				transform: scale(1.05);
			}
			@media (max-width: 1200px){
				.img1{
					flex-direction: column;
					align-items: center;
				}
				.img2{
					flex-direction: column;
					align-items: center;
				}
				.img111, .img112, .img121, .img122, .img211, .img212, .img221, .img222{
				width: 400px;
				}
				
			}
